@model IEnumerable<PqnLesson12ASP.Models.PqnTACGIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "PqnCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PqnTenTacGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PqnTenTacGia)
        </td>
        <td>
            @Html.ActionLink("Edit", "PqnEdit", new { id=item.PqnMaTG.Trim() }) |
            @Html.ActionLink("Details", "PqnDetails", new { id=item.PqnMaTG.Trim() }) |
            @Html.ActionLink("Delete", "PqnDelete", new { id=item.PqnMaTG.Trim() })
        </td>
    </tr>
}

</table>
